
div.intro {
  font-weight: normal;
  font-family: Gill sans, georgia, Helvetica, Geneva, Verdana, Arial, SunSans-Regular, sans-serif;
  color: black;
  font-size: large;
  width:60%; 
  margin:auto; 
  text-align: left; 
  margin-top: 40px;
}

div.myform {
	padding-top:40px;
	width:75%;
	text-align: left;
	margin: auto;
	font-weight: normal;
	font-family: Gill sans, georgia, Helvetica, Geneva, Verdana, Arial, SunSans-Regular, sans-serif;
	font-size:large;
	color: black;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left:0; top: -11px;
  width: 34px; height: 34px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '⬛';
  position: absolute;
  top: -9px; left: -1px;
  font-size: 37px;
  line-height: 1;
  color: #09ad7e;
  transition: all .1s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}



.myform {
  width: 80%;
  margin: auto;
}

.rotate {
  /* FF3.5+ */
  -moz-transform: rotate(-45.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-45.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-45.0deg);
  /* IE6,IE7 */
  /* Standard */
  transform: rotate(-45.0deg);
}

td {
	text-align:center; 
	width:40px; 
	height:40px;
}

