
div.intro {
  font-weight: normal;
  font-family: Gill sans, georgia, Helvetica, Geneva, Verdana, Arial, SunSans-Regular, sans-serif;
  color: black;
  font-size: large;
  width:60%; 
  margin:auto; 
  text-align: left; 
  margin-top: 40px;
}

div.waveform {
	width:75%; 
	margin: auto;
}

div.zoom {
	text-align: center; 
	width:75%; 
	margin: auto;
}

div.translation {
	padding-top:40px;
	width:75%;
	text-align: left;
	margin: auto;
	font-weight: normal;
	font-family: Gill sans, georgia, Helvetica, Geneva, Verdana, Arial, SunSans-Regular, sans-serif;
	font-size:large;
	color: black;
}
div.myform {
	padding-top:40px;
	width:75%;
	text-align: left;
	margin: auto;
	font-weight: normal;
	font-family: Gill sans, georgia, Helvetica, Geneva, Verdana, Arial, SunSans-Regular, sans-serif;
	font-size:large;
	color: black;
}

#box {
	width:75%;
	margin:auto;
	margin-top: 20px;
	height:auto;
	border: 0.3px solid;
	font-weight: large;
	font-family: Gill sans, georgia, Helvetica, Geneva, Verdana, Arial, SunSans-Regular, sans-serif;
	overflow-y:scroll;

}

.myResizable {
	/**position: float;
	display:inline-block;*/
	margin:none;
	padding:none;
    height: 30px;
    text-align: center;
    background-image: url("img/arrow.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-left: 0.5px solid;
    border-right: 0.5px solid; 
	font-weight: x-large;
}

/*.hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }*/
.hide { position:float; width:150px; height:10px; }



